
@import "tailwindcss";

@theme{
  --color-high-contrast-text: #ffffff;
  --color-low-contrast-text: #949494;
  --color-uic-pink: #D2334C
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #100e0e;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  text-rendering: optimizeLegibility;

}
